body {
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 5px;
}

.bar {
    text-align: center;
    background-color: darkgrey;
    color: white;
    padding: 12px;
    margin: 12px;
}

#main-nav {
    background-color: blue;
    color: white;
}

#main-nav li {
    display: inline-block;
    margin: 10px;
}

#main-nav a:hover {
    background-color: red;
}

#main-nav a {
    text-decoration: none;  
    color: white;
    display: inline-block;
}

.main-content {
    width: 60%;
    background-color: cadetblue;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid black;
}

.container {
    display: flex;
}


#sidebar {
    width: 35%;
    background-color: cyan;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid black;
}

#sidebar:hover {
    background: violet;
}

#name {
    width: 30%;
    padding: 5px;
    transition: width 0.3s ease;
}

#name:focus {
    width: 60%;
}